@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  font-family: 'Alkatra';
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background: #333;
  padding: 0.15rem 0.55rem;
  margin: 0.4rem;
  color: white;
  font-size: 1.5rem;
}
